#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan_0;
        zmk,matrix-transform = &matrix_transform_0;
    };

    kscan_0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_0";
        
        // --- 3 Rows, 1 Column Pin Definitions ---
        row-gpios = <&gpio0 2 0> 
                    , <&gpio0 4 0> 
                    , <&gpio0 6 0> 
                    ;
        col-gpios = <&gpio0 18 0> 
                    ;

        row-pull-ups;
        col-pull-downs;
    };

    matrix_transform_0: matrix_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <3>;    // 3 Rows
        columns = <1>; // 1 Column
        
        // Stable, comma-separated Devicetree syntax
        map = <<ZMK_MATRIX_TRANSFORM(0,0, 1,0, 2,0)>>; 
    };

    &led_strip {
        status = "disabled";
    };
};
