name: ZMK Reusable Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    # Set permissions for accessing the ZMK main repository and our local content
    permissions:
      contents: read
    
    # CALL THE REUSABLE WORKFLOW
    uses: zmkfirmware/zmk/.github/workflows/reusable-build-zmk.yml@main
    with:
      # Pass the required parameters to the ZMK build workflow
      board: nice_nano_v2
      shield: crkbd_left
      # The config-dir is relative to the repository root
      config-dir: config

  # Automatically download the built firmware if the 'build' job succeeds
  artifact:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: ⬇️ Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: firmware
          path: ./firmware-artifacts
