name: Build ZMK firmware

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      # Use the older, more widely recognized arguments to define the build target.
      board: nice_nano_v2
      shield: mediapad3
