name: Build ZMK firmware

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      # Explicitly defined inputs for board and shield
      # This format is reliable for the ZMK build action.
      board: nice_nano_v2
      shield: mediapad3
